:root {
    --primary-color: #0d75bc;
    --primary-color-light: color-mix(in srgb, var(--primary-color) 30%, white);
    --secondary-color: #ef7d00;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
}

.content {
    margin: 0 auto;
    max-width: 800px;
}

.grundtext {
    padding: 15px 3rem;
}

h1 {
    font-weight: normal;
    font-size: 35px;
    background-color: var(--primary-color);
    color: White;
    padding: 15px;
    margin-top: 70px;
}

h2 {
    font-weight: normal;
    font-size: 27px;
    margin: 15px 0;
}

h3 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
}

h4 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0.2rem;
}

p {
    margin-top: 0.2rem;
}

.menu-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    border: 1px rgb(33,97,176) solid;
}

.menu-header .header-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.hero-image {
    width: 100%;
}

.note {
    font-size: 0.8em;
}

.kacheln {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1rem 0 2.5rem;
}

.kachel {
    flex: 0 0 15rem;
    width: 15rem;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 8px;
    margin-bottom: 1rem;
    margin: 0rem 1rem 1rem 0;
}

.kachel a,a:active,a:visited {
    color: var(--primary-color);
    font-weight: bold;
    text-shadow: 0 0 5px var(--primary-color-light), 0 0 10px var(--primary-color-light), 0 0 15px var(--primary-color-light); 
}

.kachel .kachel-inhalt {
    padding: 1rem;
    background-color: rgb(255 255 255 / 0.7);
    min-height: 4rem;
}

.kachel .kachel-titel {
    font-size: 1.2rem;
}

.kachel .kachel-beschreibung {
    font-size: 0.8rem;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: white;
    font-size: 25px;
}

.mobile-menu-button {
    background-color: white;
}

.hidden {
    display: none;
}

.mobile-menu a {
    padding: 10px 30px;
    text-decoration: none;
    color: #000;
}

.menu-container {
    display: flex;
    justify-content: end;
}

@media (max-width: 800px) {
    .content {
        margin: 0 15px;
    }
    
    .grundtext {
        padding: 15px 0;
    }

    .menu-header .header-content {
      width: 100%;
    }
}

